body {
  background: #1E1B24;
}

a:link {
  text-decoration: none;
}

.container {
  display: flex;
  /* align-items: center; */
  align-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container p {
  color: white;
}

.container span {
  color: grey;
}

.element {
  height: 250px;
  width: 320px;
  padding: 2% 0%;
}

.input-container {
  background:#3D325A; 
  text-align: center;
  padding: 1% 0%;
}

.input {
  border: none;
  background: black;
  color: white;
  padding: .5% 1%;
  width: 45%;
}